body {
    background-color: rgb(25, 20, 12);
    color: white;
}

.ai-image-generater {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
}

.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span{
    color: rgb(0, 255, 13);
    font-weight: 600;
}

.image-loading{
    display: flex;
    flex-direction: column;
}

.image-loading img{
    width: 512px;
}

.search-bar{
    display: flex;
    width: 800px;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: green;
}

.search-input{
    width: 300px;
    height: 40px;
    /* border-radius: 20px; */
    font-size: 18px;
    border: none;
    outline:none ;
    background: transparent;
    color: aliceblue;
}

.search-input::placeholder{
    color: aquamarine;
}

.gernerter-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    font-size: 20px;
    background: rgb(0, 157, 255);
    border-radius: 50px;
    cursor: pointer;
    
}
